body{
	/*background-color: #121726;*/
	background-image: url("C:\\Users\\NITIN\\Desktop\\FORM\\99886.png");
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", sans-serif;
	background-size: cover;
	font-weight: bold;
}
.button{
	  color: #121726;
	  position: fixed;
	  top: 50%;
	  left: 40%;
	  margin-top: -50px;
	  margin-left: -100px;
	  background-color:rgba(0,0,0,0.2);
	  border: none;
	  color:black ;
	  padding: 16px 32px;
	  text-decoration: none;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-radius: 15px;
}
.button:hover{
  color: #BF0436;
  border: rgba(0,0,0,0.2) solid 1px;
  background:rgba(0,0,0,0.50);
  /*transition: all 0.01 ease-out;*/

}

